#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

REVISION := $(shell head -1 debian/changelog | sed 's/.*(//;s/).*//;s/.*-//')

%:
	dh $@ --fail-missing --with sphinxdoc

override_dh_auto_test:

override_dh_auto_clean:

override_dh_auto_build:
	make -C doc/ html
	rm -rf test/selenium

override_dh_install:
	dh_install

	# Use system tcpdf, gettext, phpseclib
	rm -rf debian/phpmyadmin/usr/share/phpmyadmin/libraries/tcpdf
	rm -rf debian/phpmyadmin/usr/share/phpmyadmin/libraries/php-gettext
	rm -rf debian/phpmyadmin/usr/share/phpmyadmin/libraries/phpsecli
